* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fffbf7;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fffbf7;
}

.header {
  margin: 20px 20px 0 20px;
  font-size: 0;
  font-family: sans-serif;
}

header > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
}

main {
  margin-top: 285px;
  text-align: center;
}

li {
  display: inline;
  margin: 0 25px;
  color: #025157;
}

.logo {
  width: 15%;
}

.logo > img {
  height: 100%;
}

.navbar {
  width: 70%;
  text-align: center;
  font-weight: 500;
}

.actions {
  width: 15%;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
}

.actions > * {
  margin: 0 10px;
}

.actions a {
  color: #67b54b;
}

.actions button {
  color: #fff;
  background-color: #67b54b;
  padding: 12px 14px;
  border: none;
  border-radius: 5px;
}

.contenido {
  margin: 40px 20px;
}

.promo {
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
}

.promo video {
  margin-right: 30px;
  margin-bottom: 10px;
}

.container-video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.publicidad {
  font-family: sans-serif;
  text-align-last: left;
}

.publicidad .titulo {
  color: #025157;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.publicidad .info {
  color: #025157;
  font-size: 16px;
  margin-bottom: 20px;
}

.publicidad form label {
  display: block;
  margin-bottom: 10px;
  color: #8b8b8bcc;
}

.publicidad form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.publicidad form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #8b8b8bcc;
}

h1 {
  color: blue;
}

h2 {
  color: #46484c;
}

strong {
  color: #8b8b8bcc;
}

button {
  background-color: #025157;
  color: #fff;
}

.info-matcha {
  background-color: #a1d683;
  width: 100%;
}

.info-matcha .content {
  max-width: 60%;
  margin: 0 auto;
  text-align: left;
  display: flex;
  padding: 80px 0;
  align-items: center;
}

.left,
.right {
  margin: 0 30px;
}

.left h3 {
  font-family: 'Alegreya', serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
  color: #025157;
}

.left p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #333;
  margin-top: 20px;
}

.left a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 12px;
  background-color: #025157;
  font-family: 'Open Sans', sans-serif;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 30px;
}

.left .brands img {
  margin-top: 30px;
  width: 70%;
}

.right .card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.right .card .card-image {
  position: relative;
}

.right .card .card-image img {
  width: 100%;
}

.right .card .card-image .company {
  position: absolute;
  bottom: -20px;
  right: 10px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: #f9da73;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right .card .card-image .company img {
  width: 80%;
}

.right .card .card-body {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.right .card .card-title {
  font-family: 'Alegreya', serif;
  color: #025157;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}

.right .card .card-info {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 15px;
}

.right .card .card-revenue {
  font-family: 'Open Sans', sans-serif;
  color: #828282;
  margin-bottom: 20px;
}

.right .card .card-button {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  background: #025157;
  color: #fff;
  display: inline-block;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 20px;
  width: 250px;
  margin: 0 auto;
  text-align: center;
}

.features {
  display: grid;
  /* grid-template-columns: 300px 300px; */
  /* grid-template-columns: repeat(2, 300px); */
  /* grid-template-columns: 500px 1fr; */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 330px);
}

.feature-art {
  background-color: #3498db;
  margin: 10px;
  width: 40%;
  height: 50px;
}
